@import url('https://fonts.googleapis.com/css?family=Karla:700,700i');

h1, h2, h3 {
  font-family: 'Karla';
  color: white;
  font-style: italic;
  padding: 0 10px;
}

* {
  text-align: center;
}

a:link {
  text-decoration: none;
}
